.NavbarColor{
    background: black;
}
.NavbarLink a{
    color: white;
    padding-right: 3rem;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
}

.NavbarLink a:hover{
    color: #0084ff;
}