.tipography1{
    font-family: CustomFont;
    font-size: 2rem;
    color: white;
    font-weight: bold;

}

.tipography1:hover{
    color: #0084ff;
}

.tipography1Bold{
    font-family: CustomFont;
    font-size: 2rem;
    font-weight: bold;
}